/* Portfolio Website internetstandaarden Tessa Schijff | Versie 1.0 - 02-Oktober-2019 */

/* -------NAVIGATIE------- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(225, 170, 35, 1);
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(0, 161,154,1);
}

/* ------- ALGEMENE CSS ------- */
/* de achtergrondafbeelding die ik heb gebruikt komt van: http://www.ecotilefactory.com.au/tiles/163/ */
html {
  background-image: url(../img/pattern.jpg);
  background-color: #425245;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  max-width:1024px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2));
  padding-bottom: 0.5em;
}

article {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2em;
  padding: 1em 2em;
  margin: 1em;
}

.flex-container, .sectie-flexy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* algemene tekstopmaak*/
h1 {
  font-family: 'Poiret One', 'Roboto', sans-serif;
  color: rgba(225, 170, 35, 1);
  font-size: 18pt;
  margin-left: 0.5em;
}

h2 {
  color: rgba(0, 161,154,1);
  font-size: 14pt;
}

h3 {
  color: rgba(0, 161,154,1);
  font-size: 12pt;
}

h4 {
  color: rgba(0, 161,154,1);
  font-size: 11pt;
}

p, article li {
  color: black;
  font-size: 11pt;
}

em, strong {
  color: #00302E;
}

/* opmaak van linkjes op de pagina */
article a:link {
  background-color: rgba(225, 170, 35, 0.3);
  color: black;
  text-decoration: underline;
  font-style: italic;
}

article a:visited {
  background-color: rgba(225, 170, 35, 0.3);
  color: black;
  text-decoration: none;
  font-style: normal;
}

article a:hover {
  color: black;
  background-color: rgba(225, 170, 35, 1);
  text-decoration: none;
  font-weight: bold;
}

article a:active {
  background-color: rgba(0, 161,154,1);
  text-decoration: none;
  font-style: bold;
}

/* ---------- HOME ---------- */
img .ditjesdatjes {
  max-width: 100%;
  max-height: 100%
}

.introvansub {
  background-color: rgba(225, 170, 35, 0.8);
  max-width: 25%;
  padding: 2em 4em;
  margin: 1em;
}

/* ---------- PORTFOLIO ---------- */
figure {
  margin: 30px;
  padding: 2px 16px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 350px;
  max-height: 280px;
  overflow: hidden;
}

figure:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 161,154,0.9);
  max-height: none;
  transition: 3s;
}

figcaption {
  display: bottom;
}

.imageincard {
  max-width: 300px;
  max-height: 300px;
}
/* ---------- RECEPTEN ---------- */
/* foto's */
.imageinarticle {
  max-width: 100%;
  border-radius: 2em;
}

/* ingredienten & bereiding */
.ingredienten-bereiden {
  max-width: 45%;
}

.ingredienten-bereiden h3 {
  text-transform: uppercase;
  border-bottom: 2px solid rgba(225, 170, 35, 1);
}

/* hartjesbullets */
section > ul {
  list-style: none;
}

section > ul li::before {
  content: "\2665";
  color: rgba(0, 161,154,1);
  font-weight: bold;
  font-size: 14pt;
  display: inline-block;
  width: 1.1em;
  margin-left: -1.1em;
}
/* --media query-- als het scherm/ klein(er) is gebeurt er... */
@media screen and (max-width: 800px) {
  .ingredienten-bereiden {
    max-width: 100%;
  }
  .sectie-flexy {
    justify-content: flex-start;
  }
  .imageinarticle {
    border-radius: 0px;
  }
}