/* Portfolio Website internetstandaarden Tessa Schijff | Versie 1.0 - 02-Oktober-2019 */

/* -------NAVIGATIE------- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(225, 170, 35, 1);
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(0, 96, 92, 1);
}

/* ------- ALGEMENE CSS ------- */
/* de achtergrondafbeelding die ik heb gebruikt komt van: http://www.ecotilefactory.com.au/tiles/163/ */
html {
  background-image: url(../img/pattern.jpg);
  background-color: #425245;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  max-width:1024px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2));
  padding-bottom: 0.5em;
}

article {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2em;
  padding: 1em 2em;
  margin: 1em;
}

.flex-container, .sectie-flexy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
article img {
  max-width: 100%;
}

/* algemene tekstopmaak*/
h1 {
  font-family: 'Poiret One', 'Roboto', sans-serif;
  color: rgba(225, 170, 35, 1);
  font-size: 18pt;
  margin-left: 0.5em;
}

h2 {
  color: rgba(0, 96, 92, 1);
  font-size: 14pt;
}

h3 {
  color: rgba(0, 96, 92, 1);
  font-size: 12pt;
}

h4 {
  color: rgba(0, 96, 92, 1);
  font-size: 11pt;
}

p, article li {
  color: black;
  font-size: 11pt;
}

.gemaakt-op, .postingdatum {
  color: rgba(0, 0, 0, 0.7);
  text-align: end;
  font-style: italic;
}

em, strong {
  color: #00605C;
}

/* opmaak van linkjes op de pagina */
article a:link {
  background-color: rgba(225, 170, 35, 0.3);
  color: black;
  text-decoration: underline;
  font-style: italic;
}

article a:visited {
  background-color: rgba(225, 170, 35, 0.3);
  color: black;
  text-decoration: none;
  font-style: normal;
}

article a:hover {
  color: black;
  background-color: rgba(225, 170, 35, 1);
  text-decoration: none;
  font-weight: bold;
}

article a:active {
  background-color: rgba(0, 96, 92, 1);
  text-decoration: none;
  font-style: bold;
}

/* ---------- HOME ---------- */
img .ditjesdatjes {
  max-width: 100%;
  max-height: 100%
}


/* ---------- PORTFOLIO ---------- */
/* intro voor subjes */
.introvansub {
  background-color: rgba(0, 48, 46, 0.8);
  max-width: 25%;
  padding: 2em 4em;
  margin: 1em;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}

.introvansub > h2, .introvansub > p {
  color: rgba(225, 170, 35, 1);
}

/* in de artikelen */
.de-opdracht {
  border: rgba(225, 170, 35, 1);
  border-width: 0.3em;
  border-style: dashed;
}

.meer-info {
  max-width: 25%;
}

figure {
  max-width: 20%;
  background-color: rgba(225, 170, 35, 1);
  padding: 0.3em;
}

figcaption {
  color: black;
  font-size: 11pt;
}



/* logo cards  */
.logo1 {
  margin: 20px, 20px;
  padding: 2px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 350px;
  max-height: 280px;
  overflow: hidden;
}

.logo1:hover {
  box-shadow: 0 12px 16px 0 #00605C;
  max-height: none;
  transition: 2s;
}

.logo2 {
  display: bottom;
}

.imageincard {
  max-width: 300px;
  max-height: 300px;
}

/* ---------- RECEPTEN ---------- */
/* foto's */
.imageinarticle {
  max-width: 100%;
  border-radius: 2em;
}

/* ingredienten & bereiding */
.ingredienten-bereiden {
  max-width: 45%;
}

.ingredienten-bereiden h3 {
  text-transform: uppercase;
  border-bottom: 2px solid rgba(225, 170, 35, 1);
}

/* hartjesbullets */
section > ul {
  list-style: none;
}

section > ul li::before {
  content: "\2665";
  color: rgba(0, 96, 92, 1);
  font-weight: bold;
  font-size: 14pt;
  display: inline-block;
  width: 1.1em;
  margin-left: -1.1em;
}

/* ---------- About ---------- */
.profielfoto {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.max2columns {
  max-width: 40%;
}

/*formulier*/
fieldset {
  max-width: 100%
}

form {
  margin-top: 30px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

input {
  max-width: 260px;
}

input, textarea {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
}

#verstuur {
  color: rgba(0, 161,154,1);
  background-color: white;
  border-color: rgb(4, 210, 229);
  border-radius: 25px;
}

/* ---------- FINISHING TOUCH (alle pagina's) ---------- */
/* --media query-- als het scherm smaller/klein(er) is gebeurt er... */
@media screen and (max-width: 800px) {
  .ingredienten-bereiden {
    max-width: 100%;
  }
  .sectie-flexy {
    justify-content: flex-start;
  }
  .imageinarticle {
    border-radius: 0px;
  }
  .introvansub {
    padding: 0.8em;
    min-width: 15em;
  }
  .max2columns {
    max-width: 100%;
  }
}